@namespace=WebBase.Core
@namespace=WebBase.Controllers
@namespace=Shaml.Web.HtmlHelpers
@type=List<WebSample>
%div
  %h2 WebSamples
  - if (ViewContext.TempData["message"] != null)
    %p= ViewContext.TempData["message"]
  %table
    %thead
      %tr
        -// __BEGIN__PROPERTY__
        %th= Html.SwitchOrderLink("Property","Property")
        -// __END__PROPERTY__
        %th( colspan=3 ) Action
    %tbody
      - foreach (WebSample websample in ViewData.Model)
        %tr
          -// __BEGIN__PROPERTY__
          %td= websample.Property
          -// __END__PROPERTY__
          %td
            = Html.ActionLink("Details", "Show", "WebSamples", new { Id = websample.Id }, new { })
          %td
            = Html.ActionLink("Edit", "Edit", "WebSamples", new { Id = websample.Id }, new { })
          %td
            = Html.ActionLink("Delete", "Delete", "WebSamples", new { Id = websample.Id }, new { })
  %p= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
  %p= Html.ActionLink("Create new WebSample", "Create", "WebSamples")
