@namespace=WebBase.Controllers
@type=WebSamplesController.WebSampleFormViewModel
= Html.ValidationSummary()
- using (Html.BeginForm()) 
  = Html.AntiForgeryToken()
  = Html.Hidden("WebSample.Id", Model.WebSample.Id )
  %ul
    // __BEGIN__PROPERTY__
    %li
      %label{ for="WebSample_Property" }Property:
        %div
          = Html.TextBox("WebSample.Property", Model.WebSample.Property )
          = Html.ValidationMessage("WebSample.Property")
    // __END__PROPERTY__
    %li
      %input{ type="submit" name="btnSave" value="Save WebSample"}/
        %button{ name="btnCancel" onClick="window.location.href = '/WebSamples';"} Cancel
