%div
  %h2 WebSamples
  - if (ViewContext.TempData["message"] != null)
    %p= ViewContext.TempData["message"]
  %table
    %thead
      %tr
// TODO: List of properties begin
        %th Property
// TODO: List of properties end
        %th{ colspan=3 } Action
    %tbody
      - foreach (WebSample websample in ViewData.Model)
        %tr
// TODO: List of properties begin
          %td= websample.Property
// TODO: List of properties end
          %td
            = Html.ActionLink<WebSamplesController>( c => c.Show( websample.Id ), "Details ")
          %td
            = Html.ActionLink<WebSamplesController>( c => c.Edit( websample.Id ), "Edit")
          %td
            = Html.ActionLink<WebSamplesController>( c => c.Delete( websample.Id), "Delete")
  %p= Html.ActionLink<WebSamplesController>(c => c.Create(), "Create New WebSample")
