%h2 Change Password
%p Use the form below to change your password.
%p
  New passwords are required to be a minimum of
  = Html.Encode(ViewData["PasswordLength"])
  characters in length.
= Html.ValidationSummary("Password change was unsuccessful. Please correct the errors and try again.")
- using (Html.BeginForm())
  %div
    %fieldset
      %legend
        Account Information
      %p
        %label( for="currentPassword" )
          Current password:
        = Html.Password("currentPassword")
        = Html.ValidationMessage("currentPassword")
      %p
        %label( for="newPassword" )
          New password:
        = Html.Password("newPassword")
        = Html.ValidationMessage("newPassword")
      %p
        %label( for="confirmPassword" )
          Confirm new password:
        = Html.Password("confirmPassword")
        = Html.ValidationMessage("confirmPassword")
      %p
        %input( type="submit" value="Change Password" )
