%h2 Create a New Account
%p Use the form below to create a new account.
%p
  Passwords are required to be a minimum of 
  = Html.Encode(ViewData["PasswordLength"])
  characters in length.
= Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.")
- using (Html.BeginForm())
  %div
    %fieldset
      %legend
        Account Information
      %p
        %label( for="username" )
          Username:
        = Html.TextBox("username")
        = Html.ValidationMessage("username")
      %p
        %label( for="email" )
          Email:
        = Html.TextBox("email")
        = Html.ValidationMessage("email")
      %p
        %label( for="password" )
          Password:
        = Html.Password("password")
        = Html.ValidationMessage("password")
      %p
        %label( for="confirmPassword" )
          Confirm password:
        = Html.Password("confirmPassword")
        = Html.ValidationMessage("confirmPassword")
      %p
        %input( type="submit" value="Register" )
