@namespace=WebBase.ApplicationServices
@namespace=WebBase.Controllers
@namespace=Microsoft.Web.Mvc
@namespace=System
@namespace=System.Web.Security
@namespace=System.Collections.Generic
- var users = (ViewData["Users"] as List<MembershipUser>);
%h2.MvcMembership
  Membership Administration
%fieldset.MvcMembership
  %legend
    Users
  - if( users != null && users.Count > 0 )
    %p
      All of the application's users are listed below.
      = Html.ActionLink( "Click here to create a new user.", "CreateUser" )
    %ol
      - foreach( var user in users )
        %li
          = Html.ActionLink<MembershipAdministrationController>( x => x.UserDetails( int.Parse(user.ProviderUserKey.ToString()) ), user.UserName )
  - else
    %p
      No users have been entered into the system yet.
      = Html.ActionLink( "Create a new user.", "CreateUser" )
%fieldset.MvcMembership
  %legend
    Roles
  - if( (ViewData["Roles"] as List<String>).Count > 0 )
    %ul
      - foreach( string role in (ViewData["Roles"] as List<String>) )
        %li
          = Html.ActionLink<MembershipAdministrationController>( x=> x.Role(role), role )
          (
          = Html.ActionLink<MembershipAdministrationController>( x=> x.DeleteRole(role), "Delete" )
          )
  - else
    %div
      No roles have been added to the system yet.
- using( Html.BeginForm( "CreateRole", "MembershipAdministration" ) )
  %fieldset.MvcMembership
    %legend
      Create Role
    %div
      %label{ for="role" }
        Role
      = Html.TextBox( "role" )
    %div
      = Html.SubmitButton( "submitAddRole", "Add Role" )
