@namespace=Microsoft.Web.Mvc
@namespace=WebBase.Controllers
@namespace=WebBase.ApplicationServices
@namespace=System.Web.Security
%h2.MvcMembership
  Users In "
  = ( ViewData["Role"] as MembershipRoleViewData ).Name
  " Role
%h3.MvcMembership
  = Html.ActionLink<MembershipAdministrationController>( x => x.Index( null, null ), "<< Return to Membership Administration" )
%fieldset.MvcMembership
  %legend
    Users In "
    = ( ViewData["Role"] as MembershipRoleViewData ).Name
    " Role
  - if( ( ViewData["Role"] as MembershipRoleViewData ).Users.Count > 0 )
    %ol
      - foreach( MembershipUser user in ( ViewData["Role"] as MembershipRoleViewData ).Users )
        %li
          = Html.ActionLink<MembershipAdministrationController>( x => x.UserDetails( int.Parse(user.ProviderUserKey.ToString()) ), user.UserName )
          (
          = Html.ActionLink<MembershipAdministrationController>( x => x.RemoveUserFromRole( int.Parse(user.ProviderUserKey.ToString()), ( ViewData["Role"] as MembershipRoleViewData ).Name ), "Remove" )
          )
  - else
    %div
      No users have been added to this role yet.
